body {
    background: #77287a;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}

#content {
    width: 50%;
    margin: 0 auto;
    position: relative;
}

#thermometer {
    margin: 0 auto;
    width:82px;
    height:71vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #77287a;
    border-radius: 12px;
    border: 5px solid #b83b86;
}

.track {
    height: 67vh;
    width: 55px;
    display: flex;
    align-items: flex-end;
    background: rgb(255,255,255);
    border-radius: 6px;
    position: relative;
    border: 5px solid #fff;
}

.progress {
    height:0%;
    width:100%;
    background: rgb(238, 42, 123);
    border-radius: 6px;
    display: flex;
}

.goal {
    position:absolute;
    top:0;
}

.stop1 {
    position:absolute;
    top:80%;
}

.stop2 {
    position:absolute;
    top:60%;
}

.stop3 {
    position:absolute;
    top:40%;
}

.stop4 {
    position:absolute;
    top:20%;
}

.goal,.stop1,.stop2,.stop3,.stop4 {
    right: -200%;
}

.amount {
    font-size: 1.5rem;
    letter-spacing: .05rem;
    transform: translateY(-50%);
}

.progress .amount {
    position: absolute;
    right:175%;
}

.point {
    width: 25%;
    height: 5px;
    background: #77287a;
    position: absolute;
    top: 0;
    right: -5px;
    border-radius: 10px 0 0 10px;
}

/* INPUT */

.input {
    margin: 5vh auto;
    width: 100%;
    text-align: center;
}

input {
    all: unset;
    display: inline-block;
    background: rgba(0, 0, 0, .1);
    color: #b83b86;
    padding: 1vw;
    text-align: left;
    /* border-bottom: #b83b86 2px solid; */
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0; /* Removes leftover margin */
}

button {
    display: inline-block;
    all: unset;
    cursor: pointer;
    background: rgba(0, 0, 0, .1);
    padding: 1vw;
    color: #b83b86;
    /* border-bottom: #b83b86 2px solid; */
}

.c93 {
    top: 93%;  
}
.c87 {
    top: 87%;  
}
.c80 {
    top: 80%;
    width: 50%; 
}
.c73 {
    top: 73%;  
}
.c67 {
    top: 67%;  
}
.c60 {
    top: 60%;
    width: 50%;  
}
.c53 {
    top: 53%; 
}
.c47 {
    top: 47%;  
}
.c40 {
    top: 40%;
    width: 50%; 
}
.c33 {
    top: 33%;
}
.c27 {
    top: 27%;  
}
.c20 {
    top: 20%;
    width: 50%; 
}
.c13 {
    top: 13%;
}
.c07 {
    top: 7%;
}

/* BACKGROUND ANIMATIONS */

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.star-1 {
    position: absolute;
    bottom: -20%;
    left: -10%;
    animation: rotation 60s infinite linear;
    z-index: -1;
    width: 30vw;
    height: 30vw;
    opacity: .5;
    background: url(./mcm_star.svg);
}

.star-2 {
    position: absolute;
    top: -20%;
    right: -15%;
    animation: rotation 120s infinite linear;
    z-index: -1;
    width: 40vw;
    height: 40vw;
    opacity: .6;
    background: url(./mcm_star.svg);
}

.star-3 {
    position: absolute;
    top: -5%;
    left: 5%;
    animation: rotation 45s infinite linear;
    z-index: -1;
    width: 20vw;
    height: 20vw;
    opacity: .4;
    background: url(./mcm_star.svg);
}

.star-4 {
    position: absolute;
    right: 10%;
    bottom: 15%;
    animation: rotation 30s infinite linear;
    z-index: -1;
    width: 15vw;
    height: 15vw;
    opacity: .4;
    background: url(./mcm_star.svg);
}

.star-5 {
    position: absolute;
    top: 35%;
    left: 25%;
    animation: rotation 20s infinite linear;
    z-index: -1;
    width: 10vw;
    height: 10vw;
    opacity: .3;
    background: url(./mcm_star.svg);
}

.star-6 {
    position: absolute;
    top: 35%;
    right: 25%;
    animation: rotation 10s infinite linear;
    z-index: -1;
    width: 6vw;
    height: 6vw;
    opacity: .3;
    background: url(./mcm_star.svg);
}